# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Maxim\Google Drive (mpriymak@student.unimelb.edu.au)\SUBJECTS\COMP90083 - Computational Modelling and Simulation\Project 2\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
